* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --lightBackground: #fff;
  --darkBackground: #1d2026;
}

.header {
  background: var(--darkBackground);
  min-height: 100vh;
  width: 100%;
  color: #fff;
  position: relative;
}

.header nav {
  display: flex;
  align-items: center;
}

nav .menu-img {
  width: 25px;
  margin-left: 20px;
  margin-top: 25px;
  cursor: pointer;
}

#navigation {
  flex: 1;
  text-align: right;
}

nav ul li {
  display: inline-block;
  margin: 20px;
  margin-top: 25px;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  font-style: none;
  color: white;
}

button {
  margin-right: 25px;
  margin-left: 25px;
  background: #efefef;
  height: 30px;
  width: 60px;
  border-radius: 20px;
  border: 0px;
  outline: 0px;
  cursor: pointer;
}
button span {
  display: block;
  background: #999;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-left: 2px;
  transition: 0.5s;
}

.lamp-container {
  position: absolute;
  top: -20px;
  left: 22%;
  width: 200px;
}

.lamp {
  width: 100%;
}

.light {
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  margin-left: -10px;
  transition: 0.5s;
  opacity: 1;
}

.text-container {
  max-width: 600px;
  margin-top: 7%;
  margin-left: 50%;
}

.text-container h1 {
  font-size: 6rem;
  font-weight: 40;
}

.text-container p {
  font-size: 2.25rem;
  margin-right: 20px;
  margin-top: 15px;
}

.active {
  background: lightgreen;
}

.active span {
  background: #fff;
  margin-left: 31px;
}

.on {
  opacity: 0;
}

.activeTextBackground {
  color: black;
}

.activeBackgroundColor {
  background: white;
}
